.grid {
    grid-template-rows: repeat(1, [row] auto);
}
main{
	margin-bottom: 60px;
}
h1 {
    display: block;
    grid-column: col 4/ span 2;
    grid-row: row;
    text-align: left;
    padding: 0;
    font-weight: 600;
}

p,
h2 {
    text-align: left;
    margin-top: 1%;
}

h2 {
    font-weight: 400;
}

#container {
    grid-row: row;
    grid-column: col 4/ span 6;
    margin-top: 10%;
}

.accordion label {
    display: block;
    border-bottom: 1px solid #000;
    cursor: pointer;
    padding: 10px;
}

.accordion p {
    padding: 20px;
    line-height: 30px;
    visibility: hidden;
    opacity: 0;
    height: 0px;
    text-align: left;
    margin-top: 0;
	transition: 0.5s ease;
	display: none;
}

#accordion1:checked ~ .single-text {
    height: auto;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
	display: block;
}

#accordion1 {
    display: none;
    position: relative;
}

#accordion2:checked ~ .single-text {
    display: block;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
	height: auto;
}

#accordion2 {
    display: none;
    position: relative;
}

#accordion3:checked ~ .single-text {
    display: block;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
	height: auto;
}

#accordion3 {
    display: none;
    position: relative;
}

#accordion4:checked ~ .single-text {
    display: block;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
	height: auto;
}

#accordion4 {
    display: none;
    position: relative;
}

#accordion5:checked ~ .single-text {
    display: block;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
	height: auto;
}

#accordion5 {
    display: none;
    position: relative;
}

#accordion6:checked ~ .single-text {
    display: block;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
	height: auto;
}

#accordion6 {
    display: none;
    position: relative;
}

.accordion{
	transition: 0.2s ease;
}
.accordion:hover {
    background-color: #ffe5cc;
	transition: 0.2s ease;
}

/*media queries*/

@media only screen and (min-width: 681px) and (max-width:1080px) {
    #container {
        margin-top: 20%;
        grid-column: col 2 / span 10;
    }

    h2 {
        text-align: center;
    }

    h1 {
        grid-column: col 2 / span 2;
        margin: 0;
    }

}

@media only screen and (max-width:680px) {
    h2 {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    #container {
        margin-top: 20%;
        grid-column: col / span 12;
    }
    h1 {
        grid-column: col 2 / span 2;
        margin: 0;
    }
}

