/**************************
*    disable scroll functie   *
**************************/
body {
    overflow: hidden;
}

/**************************
*    foto's slideshow   *
**************************/
#fotoshome{
    width: 100%;
    height: 100vh;
	background: no-repeat;
	background-size: cover;
	background-position: center;
	-webkit-transition: background 0.2s ease;
	transition: background 0.5s ease-in-out;
}
/**************************
*    Oranje balk met de 3 beperkingen.   *
**************************/

.backgroundhome h4 {
    color: white;
    display: table-cell;
    padding: 0 0 0 20px;
    vertical-align: middle;
   
}

.backgroundhome a {
    text-decoration: none;
    color: black;
    display: table;
    margin:  0px auto;
	text-align: center;
	padding: 40px;
}

.backgroundhome img {
    width: 76px;
    height: 76px;
}

.visuelebegeleiding {
    display: inline-block;
    vertical-align: middle;
    grid-column: col 2/ span 3;
	transition: 0.3s ease;
}

.auditievebegeleiding {
    display: inline-block;
    vertical-align: middle;
    grid-column: col 5/ span 4;
	transition: 0.3s ease;
}

.motorischebegeleiding {
    display: inline-block;
    vertical-align: middle;
    grid-column: col 9/ span 3;
	transition: 0.3s ease;
}
.visuelebegeleiding:hover,
.auditievebegeleiding:hover,
.motorischebegeleiding:hover{
	background-color: #FFC181;
	transform: scale(1.1);  
  	transition: transform 300ms ease-in-out;
	
}
.backgroundfilter {
    position: absolute;
    top: 62%;
    width: 100%;  
    max-height: 150px;
    background-color: #ff7b00;
    opacity: .9;
	overflow: hidden;
}

/**************************
*    media query tablet groot    *
**************************/
@media only screen and (max-width: 1080px) {
    .slide {
        object-fit: cover;
        width: 1024px;
        height: 1366px;
    }

/**************************
*        Andere filter       *
**************************/
    .backgroundfilter {
        position: fixed;
        top: 65%;
        margin-top: 0;
        height: 35%;
        max-height: 100%;
    }

    .visuelebegeleiding {
        grid-column: col 2/ span 10;
        border-bottom: 2px solid white;
    }

    .auditievebegeleiding {
        grid-column: col 2/ span 10;
        border-bottom: 2px solid white;
    }

    .motorischebegeleiding {
        grid-column: col 2/ span 10;
        border-bottom: 2px solid white;
    }

    .backgroundhome img {
        display: none;
    }

    .backgroundhome h4 {
        font-size: 20px;
        padding: 0;
        text-align: center;
        display: block;
        margin-top: 6vh;
    }

    .backgroundhome a {
        display: block;
		padding: 10px 0px;
		margin: 2px;
    }

/**************************
*    media query tablet klein   *
**************************/
    @media only screen and (max-width: 768px) {
/**************************
*    cut homepage background images   *
**************************/
        .slide {
            max-width: 768px;
            max-height: 1024px;
        }

        .backgroundhome h4 {
            margin-top: 3vh;
        }
    }

/**************************
*    media query mobile    *
**************************/
    @media only screen and (max-width: 414px) {
/**************************
*    cut homepage background images   *
**************************/
        .slide {
            max-width: 414px;
            max-height: 823px;
        }

        .backgroundhome h4 {
            font-size: 78%;
            margin-top: 2vh;
        }
    }
}

