p, h2{
    text-align: center;
    margin-top: 1%;
}

#container{
    width: 700px;
    height: auto;
    margin: 0 auto;
}

.accordion label{
  display:block;
    border-bottom: 1px solid #000;
    cursor:pointer;
    padding:10px;
}

.accordion p{
    padding: 20px;
    line-height: 30px;
    visibility: hidden;
    opacity: 0;
    display:none;
    text-align: left;
    margin-top:0;
}

#accordion1:checked ~ .single-text{
    display:block;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
}

#accordion1{
    display: none;
    position: relative;
}

#accordion2:checked ~ .single-text{
    display:block;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
}

#accordion2{
    display: none;
    position: relative;
}

#accordion3:checked ~ .single-text{
    display:block;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
}

#accordion3{
    display: none;
    position: relative;
}

#accordion4:checked ~ .single-text{
    display:block;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
}

#accordion4{
    display: none;
    position: relative;
}

#accordion5:checked ~ .single-text{
    display:block;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
}

#accordion5{
    display: none;
    position: relative;
}


/*FOOTER*/

html, body{
    height:100%;
    margin:0px;
}

footer{
    background-color: #F07A39;
    height:30px;
    position:relative;
}

body{
    display:flex;
    flex-direction: column;
}

main{
    flex:1;
}

.schoollogo{
    width:60px;
    height:30px;
    margin-left: 10px;
}