html, body{
    height:100%;
    margin:0px;
}

footer{
    background-color: #F07A39;
    height:30px;
    position:relative;
}

body{
    display:flex;
    flex-direction: column;
}

main{
    flex:1;
}

.schoollogo{
    width:60px;
    height:30px;
    margin-left: 10px;
}